  
@{
  Layout = "_Layout";
}

@model SillyStringzFactory.Models.Machine;

<h3>Details For: @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.ActionLink("Connect Engineer to Machin", "Edit", "Machines", new {id = @Model.MachineId}, new {@class="btn btn-success"})</p>
<ul>
@if (@Model.JoinEntries.Count == 0)
{
  <p>This machine isn't assigned to any Engineers.</p>
  
}
else
{
  <h4>Engineers assigned to:@Model.Name</h4>
  @foreach (var join in @Model.JoinEntries)
  {
    <p>@join.Engineer.Name</p>
    @using (Html.BeginForm("DeleteJoin", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <br><input class="btn btn-warning" type="submit" value="Delete"/>
    }
  }
}
</ul>