@{
  Layout = "_Layout";
}

@using SillyStringzFactory.Models;


<ul class="nav nav-pills">
    <li><a href="#engineers" data-toggle="tab" autofocus>Engineers</a></li>
    <li><a href="#machines" data-toggle="tab">Machines</a></li>
</ul>

<div id='content' class="tab-content">
    <div class="tab-pane active" id="engineers">
        <ul>
            @foreach(Engineer eng in ViewBag.Eng)
            {
              <h4>@eng.Name</h4>
              <p>@Html.ActionLink("Details", "Details", new {id = eng.EngineerId}, new {@class="details"})</p>
              <p>@Html.ActionLink("Delete Engineer", "Delete", "Engineers", new {id = eng.EngineerId}, new {@class="delete"})</p>
            }
        </ul>
        <button class="nav-pill">@Html.ActionLink("Add Engineer", "Create", "Engineers")</button>
        
    </div>
    <div class="tab-pane" id="machines">
        <ul>
            @foreach(Machine mac in ViewBag.Mac)
            {
              <h4>@mac.Name</h4>
              <p>@Html.ActionLink("Details", "Details", new { id = mac.MachineId }, new {@class="details"})</p>
              <p>@Html.ActionLink("Delete Machine", "Delete", "Machines", new {id = mac.MachineId}, new {@class="delete"});</p>
            }
        </ul>
        <button class="nav-pill">@Html.ActionLink("Add Machine", "Create", "Machines")</button>
    </div>
</div>
