@{
  Layout = "_Layout";
}

@using SillyStringzFactory.Models;


<ul class="nav nav-pills">
    <li><a href="#engineers" data-toggle="tab">Engineers</a></li>
    <li><a href="#machines" data-toggle="tab">Machines</a></li>
</ul>

<div id='content' class="tab-content">
    <div class="tab-pane" id="engineers">
        <ul>
            @foreach(Engineer eng in ViewBag.Eng)
            {
              <h4>@eng.Name</h4>
              <p class="details">@Html.ActionLink("Details", "Details", new { id = eng.EngineerId });</p>
              <p class="delete">@Html.ActionLink("Delete Engineer", "Delete", "Engineers", new {@Style = "color:white;"});</p>
            }
        </ul>
        <button class="btn">@Html.ActionLink("Add Engineer", "Create", "Engineers")</button>
        
    </div>
    <div class="tab-pane" id="machines">
        <ul>
            @foreach(Machine mac in ViewBag.Mac)
            {
              <h4>@mac.Name</h4>
              <p>@Html.ActionLink("Details", "Details", new { id = mac.MachineId })</p>
            }
        </ul>
        <button class="btn">@Html.ActionLink("Add Machine", "Create", "Machines")</button>
    </div>
</div>
